{% extends "layout.html" %}

{% block title %}
    PlayList
{% endblock %}

{% block main %}

    <div id="pageloader">
      <img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="processing..." />
    </div>

    <div id="feather">
      <img src="static/feather.gif" alt="processing..." />
    </div>

    <!-- https://monophy.com/media/LXBQn2HHQmRU4NYe7V/monophy.gif  -->

    <!-- Modal Diagon Alley -->
    <div class="modal fade" id="exampleModal" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Diagon Alley</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1638272625560!6m8!1m7!1su1gcE6cVKELE_xgImwtVHQ!2m2!1d51.693249!2d-0.4196331!3f253.64!4f2.6099999999999994!5f0.4000000000000002" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>

        </div>
      </div>
    </div>




    {% if  patronum %}

      <div id="patronum">
        <img src="static/expecto_patronum.gif" alt="processing..." />
      </div>
      <div id="otter">
        <img src="static/patronus_otter.gif" alt="processing..." />
      </div>

      <audio autoplay>
        <source src="/static/expecto_patronum.mp3" type="audio/mpeg">
      </audio>

      <script type="text/javascript">
          $(document).ready(function(){
            $('#patronum').delay(14000).fadeOut('fast');
          });
          $(document).ready(function(){
            $('#otter').hide().delay(14000).fadeIn('slow').delay(15000).fadeOut('slow');
          });
        </script>


    {% else %}
      {% if  dementor %}
        <div id="demen">
          <img src="static/demen.gif" alt="processing..." />
        </div>
        <div id="demen2">
          <img src="static/demen2.gif" alt="processing..." />
        </div>
        <div id="demen3">
          <img src="static/demen3.gif" alt="processing..." />
        </div>
        <div id="blackk">
          <img src="static/black.png" alt="processing..." />
        </div>

        <audio autoplay>
          <source src="/static/dementor.mp3" type="audio/mpeg">
        </audio>

        <script type="text/javascript">
          $(document).ready(function(){
            $('#demen').hide().delay(16000).fadeIn('slow').delay(87000).fadeOut('fast');
          });
          $(document).ready(function(){
            $('#demen2').hide().delay(103000).fadeIn('slow').delay(1500).fadeOut('fast');
          });
          $(document).ready(function(){
            $('#demen3').hide().delay(104500).fadeIn('slow').delay(15000).fadeOut('fast');
          });
          $(document).ready(function(){
            $('#blackk').hide().delay(119500).fadeIn('slow');
          });
        </script>
      {% endif %}
    {% endif %}






    <h4>Upload music with your own message for Yegane!</h5></br>
    <form id="myform" method="POST" action="" enctype="multipart/form-data">
        <input type="file" name="file" accept="audio/mp3,audio/wav,audio/aac,audio/flac,audio/m4a"></br></br>
        <textarea name="message" class="form-control" style="min-width: 75%" placeholder="Type your message here!" x-webkit-speech></textarea></br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <table class="table table-hover table-responsive-sm">
      <tr>
        <th>Track Name</th>
        <th>Music</th>
        <th>Message</th>
        <th>Sender</th>
        {% if admin[0].admin %}
          <th>Delete</th>
        {% endif %}
      </tr>
    {% for file in files %}
      <tr>
        <td>{{ file.track[:-4] | replace("_", " ") }}</td>
        <td>
          <audio preload='none' controls>
            <source src="https://yegane.s3.ir-thr-at1.arvanstorage.com/{{ file.track }}">
             Your browser does not support the audio element.
          </audio>
        </td>
        <td>{{ file.message }}</td>
        {% if file.user_id %}
          <td><a href="/users/{{ users[file.user_id - 1].username }}">{{ users[file.user_id - 1].username | title }}</a></td>
        {% else %}
          <td></td>
        {% endif %}
        {% if admin[0].admin %}
          <td><a href="/delete/{{ file.id }}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Delete it?')">Delete</a></td>
          <td>{{ file.ts }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>


{% endblock %}
