{% extends "layout.html" %}

{% block title %}
    Messages
{% endblock %}

{% block main %}
        <form action="{{ url_for('messages') }}" method="post" confirm('Send SMS?')>
            <div class="form-group">
                <textarea name="message" class="form-control" rows="5" style="width:100%;" placeholder="“You’re the cleverest witch I’ve ever met Hermione.”
"></textarea>
            </div>

            <button class="btn btn-link" type="submit"><img src="/static/reveal.gif" align='center' style="width:100%;"></button>
        </form>
{% endblock %}
